---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.webp"
>
  <p>
    "¡Bienvenidos a nuestro proyecto de blog! Aquí encontrarás un espacio
    dedicado a compartir conocimiento, ideas y experiencias, donde cada
    publicación está diseñada para inspirar, aprender y conectar. ¡Acompáñanos
    en este viaje y se parte de nuestra comunidad!"
  </p>

  <p>
    "Somos dos amigos con muchas ganas de experimentar y explorar con este blog.
    Este es nuestro espacio para aprender, crear y compartir, mientras
    descubrimos hasta dónde podemos llegar juntos. ¡Gracias por acompañarnos en
    esta aventura!"
  </p>

  <p>
    "Soy Jesús, estudiante de sistemas de información. Me encanta aprender,
    emprender nuevos proyectos y compartir ideas que inspiren a los demás. Este
    blog será prueba de mis conocimientos, busco experimentar, crecer y conectar
    con personas que comparten esta misma energía."
  </p>

  <p>
    "En este blog compartiremos un poco de todo: experiencias personales,
    tendencias que nos inspiran y los proyectos que estamos desarrollando. Es un
    espacio para explorar, aprender y disfrutar mientras seguimos creciendo."
  </p>


</Layout>
